%h1
  facts

%table.table.table-striped.datatable
  %thead
    %tr
      %th Child
      %th
      %th Parent
      %th
      %th Characteristic
  %tbody
    - @family_tree.each do |relation|
      - attrs = @characteristics.select do |pair|
        - pair.category == relation.child.name
      %tr
        %td
          - if root = relation.child.associated_root
            = link_to relation.child.name, gramercy_meta_root_path(root)
          - else
            = relation.child.name
        %td
          is a
        %td
          = relation.parent.name
        %td
          and has
        %td
          = attrs.map(&:characteristic).join(', ')
          .pull-right
            / = link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', style: "width: 75px"

