%h1
  facts

.well
  = form_for(@parser, url: is_a_categories_path) do |f|
    .form-group
      %label Enter a statement or question:
      = f.text_field :text, placeholder: 'sentence', class: "form-control"
    .form-group
      %label Response:
      %p.form-control
        = @parser.response
